<!-- begin modal-dialog -->
<style>
@media screen and (min-width: 1024px) {
	.modal-dialog {
	  	max-width: 1024px; /* New width for default modal */
	  	max-height: 600px;
	}
}
</style>
<style id="style_tag">
	#print_table {
		color: #000;
		border-collapse: collapse;
		text-align: left;
		line-height: 1.5;
		margin: 0 0px;
	}
	#print_table th {
		width: 150px;
		padding: 10px;
		font-weight: bold;
		vertical-align: top;
		border: 1px solid #CCC;
		background: #f3f6f7;
		text-align: center;
		white-space: nowrap;
	}
	#print_table td {
		width: 350px;
		padding: 10px;
		vertical-align: top;
		border: 1px solid #CCC;
		text-align: center;
		white-space: nowrap;
	}
</style>

<div class="modal fade" id="modal-sample-print">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title">검체 기록지 인쇄</h4>
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
			</div>
			<div class="modal-body">
				<div class="form-group row m-b-12">
					<input type="hidden" id="sampleId" name="id" value="">
					<label class="col-form-label col-md-1">일자</label>
					<div class="col-xs-push-0 row col-md-3">
						<div class="input-group" style="width: auto; float: right; padding-left: 10px; min-width: 220px" >
							<input type="text" id="sel_print_date" class="form-control" value="" placeholder="" readonly="readonly"/>
							<span class="input-group-append">
								<span class="input-group-text"><i class="fa fa-calendar"></i></span>
							</span>
						</div>
					</div>
					<div>
						<a href="javascript:printPopupSearch();" class="btn btn-default">조회</a>
					</div>
				</div>
				<hr/>
				<iframe id="printf" name="printf" style="width: 100%; height: 450px; overflow-y: auto; border: 0;"></iframe>
				<div id="print_area" style="height: 450px; overflow-y: auto; display: none;">
					
					<h2 style="text-align: center; margin-top: 26px; margin-bottom: 35px;">검체기록지</h2>
					<div>
						<table id="print_table" style="width: 25%; float: right; margin-bottom: 10px;">
							<tr>
								<th>검사서비스관리 담당자</th>
								<th>총괄 책임자</th>
							</tr>
							<tr>
								<td id="inputApproveMember"> </td>
								<td id="inputDrctMember"> </td>
							</tr>
						</table>
					</div>
					<div style="clear: both; margin: 0; padding: 0;"></div>
					<table id="print_table" style="margin-top: 10px;">
						<tr>
							<th>검체입고일</th>
							<td id="createdDate"> </td>
							<th>서비스 종류</th>
							<td id="bundle">개인유전자검사</td>
							<th>검사서비스관리 담당자</th>
							<td id="inputApproveMember2"> </td>
						</tr>
					</table>
					<table id="print_table" style="margin-top: 20px;">
						<thead>
							<tr>
								<th>순번</th>
								<th>검체 관리번호</th>
								<th>동의서 관리번호</th>
								<th>검체채취일</th>
								<th>결과보고일</th>
								<th>검체종류</th>
								<th>Saliva</th>
								<th>입고여부</th>
								<th>비고</th>
							</tr>
						</thead>
						<tbody id="print-table-body">
						</tbody>
					</table>
				</div>
			</div>
			<div class="modal-footer">
				<a href="javascript:print();" class="btn btn-success">인쇄</a>
				<a href="javascript:;" class="btn btn-white" data-dismiss="modal">닫기</a>
			</div>
		</div>
	</div>
</div>

<script th:inline="javascript">
/* <![CDATA[ */    
	function beforePrint() {
		
		var divToPrint = document.getElementById('print_area');
		var styletag = document.getElementById('style_tag');
		
		var newWin = window.frames["printf"];
		newWin.document.open();
		//newWin.document.write(
		var html = '<html>'
			+ '<head>'
			+ '<style>' + styletag.innerHTML
			+ ' @page { margin : 18mm 15mm 15mm 15mm; }'
			+ '</style>'
			+ '</head>'
			+ '<body onload="window.print()" style="margin: 0; padding: 0;">'
			+ divToPrint.innerHTML
			+ '</body></html>';
		
		newWin.document.write(html);
		//newWin.document.close();
		//setTimeout(function(){ newWin.close(); }, 0);
	}

	function print() {
		window.frames["printf"].print();
		//newWin.document.close();
	}
	
	function printPopupOnload(bundleId, fDate) {
		var sDate = moment().format('YYYY-MM-DD');
		if (fDate) {
			sDate = fDate;
		}
		
		$('#sel_print_date').datepicker({
			autoclose : true,
			format: "yyyy-mm-dd",
			changeMonth : true,
			changeYear : true,
			language: "ko"
		}).datepicker("setDate", sDate);
		
		$("#modal-sample-print").modal();

		printPopupSearch();
		
	}

	function printPopupSearch() {
		$('#print_area').hide();
		var param = {
			bundleId : $('#sel_bundle').val(),
			sDate : $('#sel_print_date').val(),
			fDate : $('#sel_print_date').val(),
			pgrwc : 500
		};
			
		$.ajax({
			url : "/popup/registered",
			type : "GET",
			data : param,
			dataType : "json",
			contentType : "application/json; charset=utf-8",
			beforeSend : function(xhr) {
				xhr.setRequestHeader(header, token);
			},
			success: function (data, xhr) {
				var html = "";
				var rows = data.data;
				
				for (var r in rows) {
					let col = rows[r];
					let index = Number(r) + 1;
					html += '<tr>';
					html += '<td>' + index + '</td>';
					html += '<td>' + (col.managementNumber ? col.managementNumber : "") + '</td>';
					html += '<td>' + (col.items.barcode ? col.items.barcode : "") + '</td>';
					html += '<td>' + (col.collectedDate ? col.collectedDate : "") + '</td>';
					html += '<td>' + (col.items.tat ? col.items.tat : "") + '</td>';
					html += '<td>' + (col.sampleType ? col.sampleType : "") + '</td>';
					html += '<td>' + (col.items.saliva ? col.items.saliva : "") + '</td>';
					html += '<td>입고</td>';
					html += '<td></td>';
					html += '</tr>';
					
					if (r == 0) {
						$('#inputApproveMember').text((col.inputApproveMember ? col.inputApproveMember.name : "-"));
						// $('#inputMngApproveMember').text((col.inputMngApproveMember ? col.inputMngApproveMember.name : "-"));
						$('#inputDrctMember').text((col.inputDrctMember ? col.inputDrctMember.name : "-"));

						// $('#bundle').text(col.bundle.name);
						$('#inputApproveMember2').text((col.inputApproveMember ? col.inputApproveMember.name : ""));

						$('#createdDate').text($('#sel_print_date').val());
					}
				}
				$('#print-table-body').html(html);
				beforePrint();
				//$('#print_area').show();
			},
			error : function(data, xhr) {
				
				if (data.status == "200") {
					location.reload();
				}
				CommonMsg.error(function() { });
			}
		});
		
	}

	
/* ]]> */
</script>