<!-- begin modal-dialog -->
<style>
@media screen and (min-width: 768px) {
	.modal-dialog {
	  	max-width: 1024px; /* New width for default modal */
	  	max-height: 600px;
	}
}
#table_form td {
	padding: 2px 10px;
	border: 0;
}

</style>
<div class="modal fade" id="modal-sample-detail-readonly">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title">Detail Sample</h4>
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
			</div>
			<div class="modal-body">
				<div id="div_popup_sample_detail_readonly">
				</div>
			</div>
			<div class="modal-footer">
				<a href="javascript:createReportPdfForPopup(true);" class="btn btn-success">Create Report PDF</a>
			</div>
		</div>
	</div>
</div>

<script th:inline="javascript">
/* <![CDATA[ */    
	function sampleReadonlyPopupOnload(sampleId, resultId) {
		$("#modal-sample-detail-readonly").modal();
		
		$.ajax({
			url : "/work/register/itemby/sample/" + sampleId,
			type : "GET",
			dataType : "json",
			contentType : "application/json; charset=utf-8",
			beforeSend : function(xhr) {
				xhr.setRequestHeader(header, token);
			},
			success: function (data) {
				
				var html = "", aSplit = [], aDateInputs = [], parsley = ' data-parsley-required="true"';
				var notnull = false, readonly = '', code, value = "";
				if (data.sampleItem) {
					
					html = '<form id="frm_popup_sample_detail" data-parsley-validate="true">';
					autoComplete = 'autocomplete="off"';
					html += '<input type="hidden" name="id" value="' + data.sample.id + '">';
					html += '<input type="hidden" name="resultId" value="' + resultId + '">';
					console.log(data.sample);
					html += '<div class="form-group row m-b-15">';
					html += '<table id="table_form" class="table">';
					var sitm = data.sampleItem;
					
					for (var r in sitm) {
						code = sitm[r].nameCode;
						
						if (code == 'laboratory') value = data.sample.id;
						else if (code == 'barcode') value = data.sample.barcode;
						else value = data.sample.items[code];
						if (!value) value = "";
						
						if (r % 2 == 0) html += '<tr>'
						
						html += '<td>' + sitm[r].name + '</td>';
						html += '<td><span>' + value + '</span></td>';
						
						if (r % 2 == 1) html += '</tr>';
					}
					html += '</table>';
					html += '</div>';
					
					//html += '<input type="hidden" name="bundleId" value="' + bundleId + '" />';
					html += '</form>';
					
					//html += '<button type="button" class="btn btn-success m-r-5 m-b-5" onclick="save();">Save</button>';
					
					$("#div_popup_sample_detail_readonly").html(html);
				}
				
				
				
			},
			error : function(data) {
				CommonMsg.error(function() { });
			}
		});
	}
	
	function createReportPdfForPopup() {
		CommonMsg.okCancel(function() {
			$.ajax({
	            url: '/work/report/create/pdf/' + $('input[name=resultId]').val(),
		        dataType : 'json',
		        contentType : "application/json;charset=utf-8",
		        beforeSend: function(xhr) {
					xhr.setRequestHeader(header, token);
				},
			    success: function(data, xhr) {
			    	if (data.result == "00") {
			    		CommonMsg.save(function() {
			    			$("#modal-sample-detail-readonly").modal('hide');
			    			UserTable.reload('_report_sample_grid');
						});
					} else if (!data.result.startsWith("0")) {
						CommonMsg.error(function() { });
					}
				},
				error : function(data) {
					CommonMsg.error(function() { });
				},
				complete : function() {
					
				}
			});
		});
	}
/* ]]> */
</script>